# Lister og relaterede datatyper

Denne notebook viser eksempler med **almindelige lister**, **dictionary** (ordbøger), **sæt** og **tupler**. 

Hvert eksempel har en kort forklaring efterfulgt af koden.

## Almindelige lister
**Eksempel L1: Oprettelse af lister og basale operationer**  
Viser oprettelse, længde, indeksering og ændring af elementer.

In [ ]:
frugter = ["æble", "banan", "pære"]
print("Liste:", frugter)
print("Længde:", len(frugter))
print("Første element:", frugter[0])
frugter[1] = "appelsin"
print("Efter ændring:", frugter)

**Eksempel L2: Slicing (udsnit)**  
Viser hvordan man tager dele af en liste med start:stop:step.

In [ ]:
tal = [0,1,2,3,4,5,6,7,8,9]
print(tal[2:7])      # elementer med indeks 2..6
print(tal[:5])       # fra start til 4
print(tal[::2])      # hvert andet tal
print(tal[::-1])     # reverseret

**Eksempel L3: Tilføjelse af elementer**  
Viser `append`, `extend` og `insert`.

In [ ]:
navne = ["Ali", "Bo"]
navne.append("Chen")            # ét element bagest
navne.extend(["Dina", "Egon"])  # flere elementer
navne.insert(1, "Bea")          # indsæt ved indeks
print(navne)

**Eksempel L4: Fjernelse af elementer**  
Viser `remove`, `pop` og sletning med `del` og slicing.

In [ ]:
dyr = ["kat","hund","fugl","hund","fisk"]
dyr.remove("hund")   # fjerner første forekomst
sidste = dyr.pop()   # fjerner og returnerer sidste
del dyr[0:1]         # sletter et udsnit
print(dyr, "| popped:", sidste)

**Eksempel L5: Oprettelse med `list()`**  
Konverterer andre sekvenser/iterables til liste.

In [ ]:
tekst = "hej"
liste_af_bogstaver = list(tekst)
mængde = {1,2,2,3}
liste_af_unikke = list(mængde)
print(liste_af_bogstaver, liste_af_unikke)

**Eksempel L6: List comprehension**  
Kompakt generering af lister med betingelse.

In [1]:
kvadrater = [n*n for n in range(10) if n % 2 == 0]
print(kvadrater)

[0, 4, 16, 36, 64]

**Eksempel L7: Sortering**  
Viser forskel på `list.sort()` (in-place) og `sorted()` (nyt objekt).

In [2]:
byer = ["Århus","Odense","København","Aalborg"]
kopi = sorted(byer)             # ny sorteret kopi
byer.sort(key=len, reverse=True) # sorter efter længde, faldende
print("sorted():", kopi)
print("sort():  ", byer)

sorted(): ['Aalborg', 'København', 'Odense', 'Århus']
sort():   ['København', 'Aalborg', 'Odense', 'Århus']

**Eksempel L8: Kopi vs. reference**  
Overfladisk kopi med slicing eller `list()` og forskel til fælles reference.

In [ ]:
a = [[1,2],[3,4]]
b = a                   # samme reference
c = list(a)             # overfladisk kopi
a[0][0] = 99            # ændrer indre liste
print("a:", a)
print("b (samme ref):", b)
print("c (shallow):  ", c)

**Eksempel L9: Iteration med `enumerate` og `zip`**  
Tæller indeks og parrer lister.

In [ ]:
navne = ["Ida","Jon","Kai"]
point = [12,10,15]
for i, navn in enumerate(navne, start=1):
    print(i, navn)
for n, p in zip(navne, point):
    print(f"{n}: {p}")

**Eksempel L10: Slicing-tilskrivning**  
Erstat, indsæt eller fjern flere elementer på én gang via slicing.

In [ ]:
tal = [1,2,3,4,5]
tal[1:3] = [20,30,40]   # erstat 2,3 med tre elementer
tal[3:3] = [99,100]     # indsæt uden at erstatte
tal[0:2] = []           # fjern første to
print(tal)

## Dictionaries (ordbøger)

**Eksempel D1: Oprettelse og opslag**  
Viser at nøgler slår op værdier; samt tilføjelse og ændring.

In [9]:
elev = {"navn":"Sara","klasse":"2y","point":95}
print(elev["navn"])
elev["point"] = 98      # ændring
elev["email"] = "sara@example.com"  # ny nøgle
print(elev)

Sara
{'navn': 'Sara', 'klasse': '2y', 'point': 98, 'email': 'sara@example.com'}

**Eksempel D2: `get()` med standardværdi**  
Undgår KeyError og giver fallback.

In [ ]:
print(elev.get("telefon", "ukendt"))  # findes ikke

**Eksempel D3: `items()`, `keys()` og `values()`**  
Iteration over nøgle-værdi par, nøgler eller værdier.

In [8]:
for k, v in elev.items():
    print(k, "=>", v)
print(list(elev.keys()))
print(list(elev.values()))

NameError: name 'elev' is not defined

**Eksempel D4: Opdatering og fletning**  
Bruger `update()` og operatoren `|` til at flette ordbøger.

In [ ]:
a = {"x":1, "y":2}
b = {"y":20, "z":3}
a.update({"w":0})
c = a | b  # ny dict; kræver Python 3.9+
print("a:", a)
print("c (flet):", c)

**Eksempel D5: Dictionary comprehension**  
Bygger en ordbog ud fra en sekvens.

In [7]:
kvadrater = {n: n*n for n in range(6)}
print(kvadrater)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Eksempel D6: Indlejrede ordbøger**  
Model for strukturerede data i flere niveauer.

In [6]:
klasseliste = {
    "2y": {"elever": 24, "kontakt": {"navn": "Lars", "email": "l@skole.dk"}},
    "3x": {"elever": 22, "kontakt": {"navn": "Mette", "email": "m@skole.dk"}},
}
print(klasseliste["2y"]["kontakt"]["email"])

l@skole.dk

**Eksempel D7: Sletning**  
Fjern nøgler med `del` eller `pop()` der også returnerer værdien.

In [ ]:
telefonbog = {"Ali":123, "Bo":456, "Chen":789}
nummer = telefonbog.pop("Bo")
del telefonbog["Ali"]
print("fjernet:", nummer, "| tilbage:", telefonbog)

**Eksempel D8: `setdefault()`**  
Indsæt standardværdi hvis nøglen mangler, og returnér værdien.

In [ ]:
d = {}
liste = d.setdefault("resultater", [])
liste.append(10)
print(d)

**Eksempel D9: Iteration i sorteret nøgleorden**  
Bruger `sorted()` til stabil rækkefølge.

In [ ]:
data = {"b":2, "a":1, "c":3}
for k in sorted(data):
    print(k, data[k])

**Eksempel D10: Tupler som nøgler**  
Viser at nøgler skal være hashbare; tuple fungerer som koordinat.

In [ ]:
punkter = {}
koordinat = (2, 3)
punkter[koordinat] = "træ"
print(punkter)

## Sæt (set)

**Eksempel S1: Oprettelse og unikke værdier**  
Sæt fjerner dubletter automatisk.

In [ ]:
tal = [1,2,2,3,3,3]
unikke = set(tal)
print(unikke)

**Eksempel S2: Tilføjelse og fjernelse**  
Bruger `add`, `discard` og `remove`.

In [5]:
s = {"rød","grøn"}
s.add("blå")
s.discard("gul")  # ingen fejl hvis mangler
try:
    s.remove("lilla")  # KeyError hvis mangler
except KeyError:
    print("lilla fandtes ikke")
print(s)

lilla fandtes ikke
{'rød', 'blå', 'grøn'}

**Eksempel S3: Union, snit og forskel**  
Klassiske mængdeoperationer.

In [ ]:
A = {1,2,3}; B = {3,4,5}
print("union:", A | B)
print("snit:", A & B)
print("forskel:", A - B)
print("symm. forskel:", A ^ B)

**Eksempel S4: Medlemskab og delmængder**  
`t in s`, `<=` og `<` for (ægte) delmængde.

In [ ]:
s = {1,2,3,4}
print(2 in s)
print({1,2} <= s)  # delmængde
print({1,2} < s)   # ægte delmængde

**Eksempel S5: Set comprehension**  
Genererer sæt og fjerner dubletter i én operation.

In [4]:
ordliste = ["hej","hejsa","hej","hej","python"]
længder = {len(o) for o in ordliste}
print(længder)

{3, 5, 6}

## Tupler (tuples)

**Eksempel T1: Oprettelse og indeksering**  
Tupler er ordnede og uforanderlige.

In [ ]:
koordinat = (10, 20)
print(koordinat[0], koordinat[1])

**Eksempel T2: Pakning og udpaktning**  
Flere værdier kan udpakkes i variable.

In [ ]:
punkt = (3, 4)
x, y = punkt
print(f"x={x}, y={y}")

**Eksempel T3: Funktion der returnerer en tuple**  
Returnerer flere værdier på én gang.

In [3]:
def min_max(vals):
    return (min(vals), max(vals))

print(min_max([5,1,9,2]))

(1, 9)

**Eksempel T4: Slicing og metoder**  
Tupler kan slices og har fx `count` og `index`.

In [ ]:
t = (1,2,2,3,4,2)
print(t[1:4])
print("antal 2'ere:", t.count(2))
print("første 3 ved indeks:", t.index(3))

**Eksempel T5: Uforanderlighed**  
Forsøg på at ændre et element giver fejl.

In [10]:
t = (1,2,3)
try:
    t[0] = 99
except TypeError as e:
    print("Fejl:", e)

Fejl: 'tuple' object does not support item assignment